RewriteEngine on

RewriteCond %{HTTP_HOST} ^louis-yau\.com [NC]
RewriteRule ^(.*)$ http://www.louis-yau.com/$1 [L,R=301,NC]

RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^([^.]+)$ $1.php [NC,L]
